{erl_opts, [debug_info, {i, "src/generated"}]}.

{src_dirs, ["src", "src/generated"]}.

{deps, [
    {jsone, "1.8.0"},
    {aws_signature, "0.3.2"},
    {aws_credentials, "1.0.5"}
]}.

{profiles, [
    {test, [
        {deps, [
        ]},
        {erl_opts, [
            debug_info,
            {i, "src/generated"}
        ]},
        {dialyzer, [
            {plt_extra_apps, [eunit]},
            {warnings, [unknown, unmatched_returns, error_handling]}
        ]}
    ]}
]}.

{shell, [
    {apps, []}
]}.

{eunit_opts, [verbose]}.

{plugins, [{rebar3_dialyzer_html, "0.3.0"}]}.

{dialyzer, [
    {warnings, [unknown, unmatched_returns, error_handling]},
    {output_format, raw}
]}.
