{erl_opts, [debug_info]}.

{deps, []}.

{project_plugins, [smithy_beam]}.

{provider_hooks, [
    {pre, [{compile, {smithy_beam, generate}}]}
]}.

{smithy_beam, [
    {models, "model"},
    {output, "src/generated"},
    {language, erlang},
    {kind, client},
    {edition, "2026"},
    {service, "smithy.beam.demo.basic#BasicService"}
]}.
